html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, helvetica;
}
h1 {
  margin: 0;
  padding: 0.5em 1em;
  font-family: 'Kreon', serif;
  font-weight: 400;
  background: black;
  color: white;
}
h2 {
  font-family: 'Oswald', sans-serif;
}
h3 {
  font-family: Arial, Helvetica;
}
h3.inprogress {
  color: #ff9900;
}
h3.completed {
  color: green;
}
h3.todo {
  color: aqua;
}
#body {
  padding: 0.5em 1.5em;
}
pre {
  font-family: monospace, courier;
}
